<!DOCTYPE html>
<html>
<head>
	<title>Todo List app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- <script src="js/angular.js"></script> -->
	<script src="js/app.js"></script>
</head>
<body data-ng-app="myModule" data-ng-controller="myFirstController">
	<div class="container">
			<h2>workshop 8</h2> 
		Name: <input type="text" data-ng-model="todos.name" /> {{ todos.name }}

		Description: <input	type="text" data-ng-model="todos.description" /> {{ todos.description }} 
		<br/>

		<button data-ng-click="makeNewTodoItem()">add to todo</button> 

		<br/>
		<!-- <input type="text" ng-model="searchName"> {{searchName}} -->


		<ul>
			<li data-ng-repeat="currentItem in todoItems | filter:searchName ">{{currentItem.name}}: {{currentItem.description}} <button ng-click="deleteTodoItem($index)">Delete Item</button></li>
		</ul>

		<!-- Place to load our parcial -->
		<div id="container">
			<div ng-view></div>
		</div>
		

	</div>



</body>

</html>
